@page "/about"

<PageTitle>About</PageTitle>

<div class="card text-white">
    <img class="card-img" src="\about\7.png" alt="">
    <div class="card-img-overlay">
        <h5 class="card-title">There's nothing to see here expect this beautiful painting
        </h5>
        <p class="card-text"></p>
    </div>
</div>




