@page "/features"
<PageTitle>Features</PageTitle>

<div class="card text-white">
    <img class="card-img" src="\features\3.png" alt="">
    <div class="card-img-overlay">
        <h5 class="card-title">We're closed! 
        </h5>
        <p class="card-text"></p>
    </div>
</div>





