    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        border: hidden;
        padding-top: 60px;
    }
    .card img {
        position: relative;
        display: flex;
        flex-direction: row;
        border: hidden;
    }
    .card-title {
        font-family: 'Mountains of Christmas', cursive;
        font-size: 75px;
        color: rgb(239, 84, 86);
        line-height: 50px;
        letter-spacing: 15px;
        --para-spacing: 0;
        text-transform: none;
        --head-indent: 0;
        --numeric-list-marker: none;
        list-style-type: none;
        text-align: center;
        font-weight: 800;
        padding-bottom: 40px;
    }
    .card-text {
        font-family: 'Patrick Hand', cursive;
        font-size: 26px;
        color: rgb(62, 117, 116);
        line-height: 30px;
        letter-spacing: 2px;
        --para-spacing: 0;
        text-transform: uppercase;
        --head-indent: 0;
        --numeric-list-marker: none;
        list-style-type: none;
        text-align: center;
        font-weight: 600;
    }
        .card button{
            border-radius: 4px;
            display: flex;
            font-family: 'Poppins', sans-serif;
            align-items: center;
            color: white;
            background-color: rgb(62, 117, 116);
            font-weight: 400;
            line-height: 33px;
            text-align: center;
            align-self: center;
            border: hidden;
            width: 150px;
            border-radius: 12px;
            height: 40px;
            border: hidden;
            margin-left: 800px;
        }



    .row{
        margin-top: 100px;
        line-height: 50px;
        text-align: center;
    }
    .card-title-2 {
        font-family: 'Fredoka One', cursive;
        font-size: 26px;
        color: rgb(6239, 84, 86);
        line-height: 50px;
        letter-spacing: 0em;
        --para-spacing: 0;
        text-transform: none;
        --head-indent: 0;
        --numeric-list-marker: none;
        list-style-type: none;
        text-align: center;
    }
    .card-text-2 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: rgb(62, 117, 116);
        line-height: 10px;
        letter-spacing: 0em;
        --para-spacing: 0;
        text-transform: none;
        --head-indent: 0;
        --numeric-list-marker: none;
        list-style-type: none;
        text-align: center;
    }
    .card-2 button {
        font-family: 'Poppins', sans-serif;
        align-items: center;
        color: white;
        background-color: rgb(62, 117, 116);
        font-weight: 400;
        text-align: center;
        align-self: center;
        border: hidden;
        width: 140px;
        border-radius: 12px;
        height: 40px;
        font-size: 16px;
    }

        .card-group{
            display: flex;
            margin-top: 80px;
            margin-bottom: 80px;
            
        }
            .card-group img {
                width: 60%;
                display: flex;
                align-self: center;
            }

@media (max-width: 641px) {
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 16px;
    }
    .card-title-2 {
        font-size: 20px;
    }
    .card-text-2 {
        font-size: 16px;
    }
    .card img {
        margin-top: 50px;
        height: auto;
    }
    }
