@page "/"

<PageTitle>Index</PageTitle>

<div class="card">
    <h5 class="card-title">The missing Christmas present hunt </h5>
        <p class="card-text">
            Join us now and help
            <br>
            Centa Claus on his most important and
            <br>
            challenging mission this year!
        </p>
    <button type="button" class="btn btn-primary btn-lg btn">Get Started</button>
    <img class="card-img" src="/christmas-hq.webp" alt="Card image">
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card-2">
            <div class="card-body">
                <h5 class="card-title-2">Our special libary opened 24/7</h5>
                <p class="card-text-2">Here you can find all tools to solve the upcoming challenges.</p>
                <button type="button" class="btn btn-primary btn-lg">Learn More</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card-2">
            <div class="card-body">
                <h5 class="card-title-2">Feedback is our christmas gift</h5>
                <p class="card-text-2">Don't hesitate to let us know if you have anything to add!</p>
                <button type="button" class="btn btn-primary btn-lg">Let Us Know</button>
            </div>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img class="card-img-top card-img" src="/snowman-with-hat-and-scarf.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-2">Resource</h5>
            <p class="card-text-2">This is a wider card with </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/santa-claus-with-a-bag-of-gifts.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-2">Conctact</h5>
            <p class="card-text-2">This card has supporti</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/christmas-tree-with-presents.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-2">Purpose</h5>
            <p class="card-text-2">This is a wider card with supp</p>
        </div>
    </div>
</div>



@code
{

}