@page "/"

<PageTitle>Index</PageTitle>


<div class="card">

    <h5 class="card-title">The missing Christmas present hunt </h5>
    <p class="card-text">
        Join us now and help
    <br>
    Centa Claus on his most important and
    <br>
    challenging mission this year!
    </p>

    <button type="button" class="btn btn-primary btn-lg">Get Started</button>

    <img class="card-img" src="/christmas-hq.webp" alt="Card image">
    <div class="card-img-overlay"></div>
</div>

