
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: hidden;
}

    .card img {
        position: relative;
        display: flex;
        flex-direction: column;
        border: hidden;
    }

.card-title {
    font-family: 'Fredoka One', cursive;
    font-size: 36.0202px;
    color: rgb(239, 84, 86);
    line-height: 50px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    text-align: center;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 26.2297px;
    color: rgb(62, 117, 116);
    line-height: 36px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    text-align: center;
}

    .card button {
        border-radius: 4px;
        display: flex;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        color: white;
        background-color: rgb(62, 117, 116);
        font-weight: 400;
        font-style: normal;
        line-height: 33px;
        text-align: center;
        align-self: center;
        border: hidden;
        width: 150px;
        border-radius: 12px;
        height: 40px;
    }

    .row{
        margin-top: 50px;
        line-height: 50px;
        text-align: center;
    }

.card-title-2 {
    font-family: 'Fredoka One', cursive;
    font-size: 26px;
    color: rgb(62, 117, 116);
    line-height: 50px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    text-align: center;
}
.card-text-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(62, 117, 116);
    line-height: 10px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    text-align: center;
}
    .card-2 button {
        font-family: 'Poppins', sans-serif;
        align-items: center;
        color: white;
        background-color: rgb(62, 117, 116);
        font-weight: 400;
        text-align: center;
        align-self: center;
        border: hidden;
        width: 140px;
        border-radius: 12px;
        height: 40px;
        font-size: 16px;
    }


.card-group {
    display: flex;
    margin-top: 50px;
}
.card-group img{
  
}

@media (max-width: 641px) {
    .card-title {
        font-size: 20px;
    }
    .card-text{
        font-size: 16px;
    }
  
    .card-title-2 {
        font-size: 20px;
    }

    .card-text-2 {
        font-size: 16px;
    }
}
