@page "/"
<PageTitle>Index</PageTitle>

<div class="card">
    <h5 class="card-title">The Missing Christmas Present Hunt</h5>
        <p class="card-text">
            Join in now and help
            <br>
            Centa Claus on this years biggest and 
            <br>
            most challenging mission to save christmas!
        </p>
         <NavLink class="nav-link" href="/getStarted" Match="NavLinkMatch.All">
            <button type="button" class="btn btn-primary btn-lg">
            Get Started
            </button>
        </NavLink>
    <img class="card-img" src="/christmas-hq.webp" alt="Card image">
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card-2">
            <div class="card-body">
                <h5 class="card-title-2">Our special libary opened 24/7</h5>
                <p class="card-text-2">Here you can find all tools to solve the upcoming challenges.</p>
                <NavLink class="nav-link" href="/libary" Match="NavLinkMatch.All">
                    <button type="button" class="btn btn-primary btn-lg">
                        Learn More
                    </button>
                </NavLink>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card-2">
            <div class="card-body">
                <h5 class="card-title-2">Feedback is our christmas gift</h5>
                <p class="card-text-2">Don't hesitate to let us know if you have anything to add!</p>
                <NavLink class="nav-link" href="/feedback" Match="NavLinkMatch.All">
                    <button type="button" class="btn btn-primary btn-lg">
                        Let Us Know
                    </button>
                </NavLink>
            </div>
        </div>
    </div>
</div>
<Header />
<div class="card-group">
    <div class="card">
        <img class="card-img-top card-img" src="/snowman-with-hat-and-scarf.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-2">Resource</h5>
            <p class="card-text-2">www.hejhej.com</p>
            <p class="card-text-2">www.hejhej.com</p>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/santa-claus-with-a-bag-of-gifts.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-2">Conctact</h5>
            <p class="card-text-2">Mobile 07064525242</p>
            <p class="card-text-2">Email emma@mail.com</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/christmas-tree-with-presents.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-2">Purpose</h5>
            <p class="card-text-2">We love to educate you</p>
            <p class="card-text-2">and give lots of ideas!</p>
        </div>
    </div>
</div>
<Footer />

@code
{

}