.card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    border: hidden;
    height: 110px;
}

    @media (max-width: 641px) {
        
        .card img{
            height: 50px;
        }
}
