@inherits LayoutComponentBase

<div class="container">
    <NavMenu />
    <FirstLayerBody />
    <div class="content px-4">
        @Body
    </div>
</div>


@*@inherits LayoutComponentBase

<div class="page">
        <NavMenu />

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@