.navbar-toggler {
    padding-inline: 10px;
    border: hidden 0px;
    color: rgb(62, 117, 116);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navbar {
    height: 0px;
    padding-bottom: 90px;
    height: 100px;
}
    .navbar-brand {
    font-size: 1.1rem;
    padding-left: 300px;
    padding-top: 70px;
    width: stretch;
    align-self: center;
    display: flex;
    text-align: center;
}

.nav-item {
    font-weight: 600;
    font-style: normal;
    text-decoration: auto;
    font-family: 'Poppins', sans-serif;
    text-indent: 50px;
    padding-bottom: 0.5rem;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
}

    .nav-item ::deep a {
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
        color: rgb(62, 117, 116);
    }

        .nav-item ::deep a.active {
            color: #3e7574;
        }

        .nav-item ::deep a:hover {
            color: #e45e62;
        }

        .navbar-toggler ::deep a.active {
            color: #37960f;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 641px) {
    .nav-item{
        font-size: 18px;
    }
    .navbar-brand img{
        visibility: hidden;
    }
    .navbar-toggler{
        display: flex; 
        text-align: center; 
        margin-top: -300px;
    }
  
}

