<nav class="navbar navbar-expand-sm">
    <a class="navbar-brandnavbar-expand-sm img-fluid card-img" href="#">
        <img src="/centirmas2.png" width="479" height="122" alt="">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="material-symbols-outlined">
            sort
        </span>Menu
    </button>
      <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item navbar-brand">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Features
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    About
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Contact
                </NavLink>
            </li>
        </ul>
    </div>
</nav>
  

@code {
    bool collapseNavMenu = true;
    string baseMenuClass = "navbar-collapse d-sm-inline-flex";
    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
     }